.full-width{
	overflow:hidden;
	position:relative;
	background-color:#fff;
	&, & .slide img{
		width:100%;
	}
	&:hover{
		background-color:transparent;
	}
	.inner{
		width:400%;
		overflow-y:hidden;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
	    filter: alpha(opacity=00);
	    -moz-opacity: 0;
		opactiy: 0;
	}
	.slide{
		width:25%;
		float:left;
		overflow-x:hidden;
		position:relative;
		img{
			height: auto;
			@media all and (max-width: 960px){
				& {
					height:100%; width:auto; max-width:9999px;
				}
			}
		}
		div{
			color:#fff;
			position:absolute;
			padding:0 5%;
			left:0;
			width:90%;
			text-align:right;
			font-size:32px;
			p{
				float:right;
				text-align:left;
				padding:10px;
				margin:0;
				background:rgba(0, 0, 0, 0.8);
			}
			&.no-padding{
				padding:0;
			}
			@media all and (max-width: 480px){
				& {
					padding:0;
					width:100%;
				}
				& br{
					display:none;
				}
			}
		}
	}
	.controls a{
		position:absolute;
		top:50%;
		margin-top:-46px;
		display:block;
		background:rgba(0, 0, 0, 0.5);
		text-decoration:none;
		color:#fff;
		font-size:40px;
		padding:0 10px 2px 7px;
		ine-height:40px;
		display:none;
		&.left{
			left: 0px;
		}
		&.right{
			right: 0px;
		}
	}
	.slide-nav{
		font-size:75px;
		margin:0 auto;
		line-height:50px;
		font-family:'Helvetica', Arial, sans-serif;
		span{
			cursor: pointer;
			color: #ccc;
			&.current{
				color:#333;
			}
		}
	}
}
.lt-ie8{
	.slide-nav{display:none}
}

.lt-ie9{
	.full-width p, .full-width .controls a{
		background:url('bg-trans.png') repeat;
		_background: #333;
	}
}